@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

li {
    list-style-type: none;
    font-size: 12px;
}

/* nav */

.nav__container {
    height: 80px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.treact__logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 8px;
}

.logo__container {
    display: flex;
    align-items: center;
    font-size: 20px ;
    font-weight:900;
}

.nav__link {
    padding: 0 16px;
    font-size: 16px;
}

.logo__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__container:hover {
    text-decoration: underline;
}